@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

body {
    background-color: bisque;
}

.ingredients {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 35px;
}

.ingredients-table {
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    animation: ingredients;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

@keyframes ingredients {
    0% {left: -1000px;}
    85% {left: 50px;}
    100% {left: 0;}
}

.instuctions {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
}

.instuctions ol {
    border: 1px solid green;
    margin: 0 auto;
    width: 16%;
    position: relative;
    animation: instructions;
    animation-duration: 5s;
}

@keyframes instructions {
    0% {right: -1000px;}
    85% {right: 50px;}
    100% {right: 0;}
}

.heading {
    text-align: center
}

.lemmikroog-heading {
    font-family: "Playpen Sans", cursive;
    font-size: 2rem;
    position: relative;
    animation: heading;
    animation-duration: 3s;
}

@keyframes heading {
    0% {top: -250px;}
    100% {top: 0;}
}

img {
    opacity: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
    animation: img;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }

  @keyframes img {
    0% {opacity: 0;}/*0 - 1*/
    100% {opacity: 1;}
  }

